#mycanvas {
  	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	background-color: white;
}

#crosshair {
  	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

h1{
	text-align: center;
	color: #F08080;
}

body{
	background-color: #ADD8E6;
}

